@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  width: 9.5rem;
  height: 5rem;
  border-radius: 30px;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center
}

button:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

button:active {
  background-color: #b2b2b2;
}

p {
  text-align: center;
  font-size: 1.40rem;
}
